body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    height: 100vh;
    /* display: flex; */
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}
h1 {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 2em;
}
#weather{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: rgb(160, 151, 151);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
}
.descr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feels{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind{
    display: flex;
    justify-content: center;
    align-items: center;
}
.days{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: rgb(160, 151, 151);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    padding: 50px;
}
body .sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
body .cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}
body .rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}
#weather{
    width: 300px;
    height: 300px;
}
.weather3days{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;

    padding-top: 20px;
    padding-bottom: 75px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}